article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}

html {
	font-size: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	height: auto;
	-webkit-text-size-adjust: 100%;
}

::selection {
	text-shadow: none;
}

* {
	-webkit-user-select: none;
	margin: 0;
	padding: 0;
}

body {
	font-size: 13px;
	line-height: 1.231;
	background: rgb(235,235,235);
	color: white;
	// overflow: hidden;
	// position: absolute;
	position: relative;
	width: 100%;
	overflow-x: hidden;
	font-family: "Helvetica Neue", "Droid Sans", Arial;
	// Prevent default popover on a long touch
  -webkit-touch-callout: none;
}

#marketplace {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}

#curtain {
	z-index: 1200;
	// display: none;
	position: absolute;
	-webkit-transition: opacity .2s ease;
	&.active {
		height: 100%;
		// display: block;
		opacity: 0.6;
	}
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	opacity: 0;
	background: black;
}

@import "partials/item_view";
@import "partials/items_view";
@import "partials/item_info_view";
@import "partials/favorites_bin_view";


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) { }

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) { }

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) { }

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) { }

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) { }

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px) { }

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) { }

/* Retina ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	text-rendering: optimizeLegibility; 
}
